* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
}
*::after {
    box-sizing: border-box;
}
* {
    transition:all 1s;
}
body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh
}
@function px($px) {
    @return $px + px;
}

$designWidth: 375;

.code-wrapper {
    flex: 1;
    padding: 10px;
    height: 50%;
    #code {
        height: 100%;
        overflow: hidden;
    }
}
.preview-wrapper {
    flex: 1;
    height: 50%;
}
// .preview {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: #fee433;
// }

// .wrapper {
//     position: relative;
//     width: 100%;
//     height: px(165);
// }
// .nose {
//     width: 0;
//     height: 0;
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     top: px(28);
//     border-radius: px(11);
//     border: px(12) solid;
//     border-color: black transparent transparent transparent;
// }
// .eye {
//     width: px(49);
//     height: px(49);
//     background: #2e2e2e;
//     position: absolute;
//     border-radius: 50%;
//     border: 2px solid black;
//     &::before {
//         content: '';
//         display: block;
//         width: px(24);
//         height: px(24);
//         background: white;
//         position: absolute;
//         border-radius: 50%;
//         left: px(6);
//         top: px(1);
//         border: 2px solid black;
//     }
//     &.left {
//         right: 50%;
//         margin-right: px(90);
//     }
//     &.right {
//         left: 50%;
//         margin-left: px(90);
//     }
// }
// .face {
//     position: absolute;
//     width: px(68);
//     height: px(68);
//     background: #fc0d1c;
//     border: 2px solid black;
//     border-radius: 50%;
//     top: px(85);
//     &.left {
//         right: 50%;
//         margin-right: px(116);
//     }
//     &.right {
//         left: 50%;
//         margin-left: px(116);
//     }
// }
// .upperLip {
//     position: absolute;
//     height: px(25);
//     width: px(80);
//     border: 3px solid black;
//     border-top: none;
//     top: px(47);
//     background: #fee433;
//     &.left {
//         right: 50%;
//         border-bottom-left-radius: px(40) px(25);
//         border-right: none;
//         transform: rotate(-20deg);
//     }
//     &.right {
//         left: 50%;
//         border-bottom-right-radius: px(40) px(25);
//         border-left: none;
//         transform: rotate(20deg);
//     }
// }
// .lowerLip-wrapper {
//     position: absolute;
//     bottom: 0;
//     left: 50%;
//     transform: translateX(-50%);
//     height: px(113);
//     overflow: hidden;
//     width: px(200);
//     .lowerLip {
//         width: px(200);
//         height: px(2500);
//         background: #990513;
//         border-radius: px(100)/px(700);
//         border: 2px solid black;
//         position: absolute;
//         bottom: 0;
//         left: 50%;
//         transform: translateX(-50%);
//         overflow: hidden;
//         &::after {
//             content: '';
//             position: absolute;
//             bottom: px(-20);
//             width: px(100);
//             height: px(100);
//             background: #fc4a62;
//             left: 50%;
//             transform: translateX(-50%);
//             border-radius: px(50);
//         }
//     }
// }